@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 215 28% 17%;
        --card: 210 40% 100%;
        --card-foreground: 215 28% 17%;
        --popover: 210 40% 100%;
        --popover-foreground: 215 28% 17%;
        --primary: 217 91% 60%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96%;
        --secondary-foreground: 215 25% 27%;
        --muted: 210 40% 96%;
        --muted-foreground: 215 16% 47%;
        --accent: 210 40% 94%;
        --accent-foreground: 215 25% 27%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 214 32% 91%;
        --input: 214 32% 91%;
        --ring: 217 91% 60%;
        --chart-1: 217 91% 60%;
        --chart-2: 199 89% 48%;
        --chart-3: 210 79% 46%;
        --chart-4: 227 71% 57%;
        --chart-5: 189 95% 43%;
        --radius: 0.5rem;
        --sidebar-background: 210 75% 95%;
        --sidebar-foreground: 215 28% 17%;
        --sidebar-primary: 217 91% 60%;
        --sidebar-primary-foreground: 210 40% 98%;
        --sidebar-accent: 214 32% 91%;
        --sidebar-accent-foreground: 215 28% 17%;
        --sidebar-border: 214 60% 85%;
        --sidebar-ring: 217 91% 60%;
    }

    .dark {
        --background: 222 47% 11%;
        --foreground: 210 40% 98%;
        --card: 222 47% 11%;
        --card-foreground: 210 40% 98%;
        --popover: 222 47% 11%;
        --popover-foreground: 210 40% 98%;
        --primary: 217 91% 65%;
        --primary-foreground: 222 47% 11%;
        --secondary: 217 33% 17%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217 33% 17%;
        --muted-foreground: 215 20% 65%;
        --accent: 217 33% 17%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 217 33% 17%;
        --input: 217 33% 17%;
        --ring: 216 84% 54%;
        --chart-1: 210 88% 70%;
        --chart-2: 199 89% 60%;
        --chart-3: 227 80% 65%;
        --chart-4: 189 95% 50%;
        --chart-5: 236 70% 65%;
        --sidebar-background: 225 32% 15%;
        --sidebar-foreground: 210 40% 98%;
        --sidebar-primary: 217 91% 65%;
        --sidebar-primary-foreground: 225 32% 15%;
        --sidebar-accent: 217 33% 20%;
        --sidebar-accent-foreground: 210 40% 98%;
        --sidebar-border: 217 33% 20%;
        --sidebar-ring: 216 84% 54%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md bg-foreground/20 select-none animate-pulse;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused>.cm-scroller>.cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent !important;
}

.cm-activeLine {
    @apply rounded-r-sm !important;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm !important;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}